<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1>DOCUMENT</h1>
    <ul>
        <li><a href="/messages/">View Messages</a></li>
        <li><a href="/messages/create/">Create a Message</a></li>
        <li><a href="messages/<int:id>/">Message only one user by id"</a></li>
        <li><a href="messages/delete/<int:id>/">Delete message by id</a></li>

    </ul>
    <div>
        <h1>What we have?</h1>
        <p>View Messages(/messages/)</p>
        <p>Create a Message(/messages/create/)</p>
        <p>Message only one user by id(messages/(EXAMPLE 1)/)</p>
        <p>Delete message by id(messages/delete/(EXAMPLE 1)/)</p>
    </div>

</body>
</html>
